body {
    font-family: sans-serif;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background: #34495e;
}

ul {
    width: 80%;
    margin: 0 auto;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li a {
    color: #fff;
    font-size: 20px;
}

ul li a:hover {
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    text-decoration: none;
    background: #e74c3c;
}

/* Style for toggle nav bar */
.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #2c3e50;
    text-align: right;
    color: #fff;
    font-size: 25px;
    display: none;
}

@media (max-width:768px)
{
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
        cursor: pointer;
    }

    .active {
        display: block;
    }
}